.btnblue{
    background-color:#254d88;
    color:white;
    }
    .body{
        background-color:#eeeeee !important;
       }
    .heading{
    margin-right: 20px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left:20px;
    width:100px;
    padding-top: 10px;
    text-align: center;
    }
    .l1{
    color: white;
    }
    table tr td th{
    color:"";
    }
    /* @media only screen and (min-width:992px) {
    
    .res {
    width:76%;
    margin-left:70px;
    }
    
    }
    @media only screen and (max-width:600px) {
    
    .mb3{
    margin-left: 10px !important;
    margin-right:10px !important;
    
    }
    
    } */
   
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        }
        

        .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }
        
    
        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }
        
        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }
        
        input:checked + .slider {
        background-color: #2196F3;
        }
        
        input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }
        
     
        .slider.round {
        border-radius: 34px;
        }
        
        .slider.round:before {
        border-radius: 50%;
        }
    