.bg-country{
    background-color: #d4cccc;
    padding-left: 2px;
    font-size: 15px;
}
.bg-country-header{
    background-color: #254d88;
    width: 80px;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 20px;
}
.btn-add{
    background-color: #254d88;
    margin-left: 10px;
    color: white;
    width: 70px;
}
